# Opérations sur les types

# 1. Conversion de types

## La fontion `int()`

In [3]:
a = 1
b = "dg"
type(b)

str

## La fontion `float()`

In [4]:
a= 3.6
type (a)

float

## La fontion `str()`

## La fontion `tuple()`

In [5]:
a = (2,)
type(a)

tuple

## La fontion `list()`

In [7]:
a = ["a","v"]
type(a)

list

# 2. opérations sur : int et  float

# Opérateurs

    +       -       *       **      /       //      %

In [8]:
x = 2
y = 7.3
z = x + 2*y
xcarre = x**2
print("x=", x, "y=", y, "z=", z, "xcarre=",xcarre)

x= 2 y= 7.3 z= 16.6 xcarre= 4

In [9]:
x_demi = x / 2
print("x_demi = ", x_demi)
x_demi_prime = x // 2
print("x_demi_prime = ", x_demi_prime)

x_demi =  1.0
x_demi_prime =  1

In [10]:
# Reste d'une division: Calcul modulo (%)

N = 26

# soit à calculer ... mod N

mes = 66 % N
print("mes = ", mes)

mes =  14

In [11]:
# Un nombre pair ou impaire

# Votre code ici
a = int(input("Entrer un nombre :  \n"))
if(a%2 == 0):
    print("Ce nombre est pair")
else:
    print("Ce nombre est impair")

Entrer un nombre :
11
Ce nombre est impair

# 3. Slicing (str, tuple, list)

Supposons que **var** est une chaine de caractère, un tuple, ou une liste et **i** un an

* var[i] : renvoie l'élément qui est à la position **i + 1** s'il existe; dans le cas contraire une erreur de type **IndexError** sera levée.
* len(var) : renvoie le nombre d'éléments

Il faut noter qu'en Python, on commence la numérotation en *0*

In [13]:
chaine = "La transmission des données et la sécurité de l'information"
mon_tuple = ("A", "B", "C", 'D', 'E', 1, 3, 5.2, (3, 6), [1,2,3], 9)
ma_liste = ["Moussa", "Ba", "TSIU", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]

print(len(chaine), len(mon_tuple), len(ma_liste))

59 11 8

print(len(chaine), len(mon_tuple), len(ma_liste))

In [3]:
chaine = "La transmission des données et la sécurité de l'information"
mon_tuple = ("A", "B", "C", 'D', 'E', 1, 3, 5.2, (3, 6), [1,2,3], 9)
ma_liste = ["Moussa", "Ba", "TSIU", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]
print(len(chaine), len(mon_tuple), len(ma_liste))

59 11 8

In [14]:
chaine[0]

'L'

In [15]:
chaine[5]

'a'

In [16]:
mon_tuple[0]

'A'

In [17]:
mon_tuple[8]

(3, 6)

In [18]:
ma_liste[0]

'Moussa'

In [19]:
ma_liste[7]

'last'

In [20]:
ma_liste[10]

IndexError: list index out of range

Indices avec des entiers négatifs

* `var[-1]` : renvoie le dernier élément (s'il existe)
* `var[-1]` : renvoie l'avant dernier élément (s'il existe)
* et ainsi de suite

In [21]:
ma_liste[-1]

'last'

In [22]:
chaine[-2]

'o'

In [23]:
mon_tuple[-2]

[1, 2, 3]

## Si **var** est une chaine de caratère

* `var[debut, fin, pas]` : renvoie une sous chaine de  **var** qui est la concaténation des caractères aux positions allant de **debut** à **fin - 1** avec pas **pas**

## Si **var** est un tuple (ou une liste)

* `var[debut, fin, pas]` : renvoie le tuple (ou la liste) des éléments de **var**  aux positions allant de **debut** à **fin - 1** avec pas **pas**

NB: 


* Si **debut** n'est pas précisé, il est égal à 0
* Si **fin** n'est pas précisé, il est égal au nombre d'éléments de **var**
* Si **pas** (ou **:pas** ) n'est pas précisé, il est égal à 1

In [ ]:
ch = "TRANSMISSION DES DONNEES"
T = ("A", 3, 5.2, (3, 6), [1,2,3], 9)
L = ["Moussa", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]

In [27]:
ch = "TRANSMISSION DES DONNEES"
ch[0:5:1]

'TRANS'

In [28]:
ch = "TRANSMISSION DES DONNEES"
ch[0::3]

'TNII SOE'

In [29]:
L = ["Moussa", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]
L[0: 5: 2]

['Moussa', 'crypto', [3, 'UCAD']]

In [30]:
L = ["Moussa", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]
L[0:3]

['Moussa', '@', 'crypto']

In [31]:
L = ["Moussa", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]
L[-2 :]

[[3, 'UCAD'], 'last']

In [33]:
T = ("A", 3, 5.2, (3, 6), [1,2,3], 9)
T[:]

('A', 3, 5.2, (3, 6), [1, 2, 3], 9)

Opérateurs **in** et **not in**

* `x in var` : renvoie **True** si l'élément *x* est dans **var** et **False** dans le cas contraire
* `x not in var` : renvoie **True** si l'élément *x* n'est pas dans **var** et **False** dans le cas contraire

In [ ]:
T1 = ("A", 3, 5.2, (3, 6), [1,2,3], 9)
L1 = ["Moussa", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]

In [35]:
T1 = ("A", 3, 5.2, (3, 6), [1,2,3], 9)
L1 = ["Moussa", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]
"A" in T1

True

In [36]:
T1 = ("A", 3, 5.2, (3, 6), [1,2,3], 9)
L1 = ["Moussa", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]
"B" in T1

False

In [37]:
T1 = ("A", 3, 5.2, (3, 6), [1,2,3], 9)
L1 = ["Moussa", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]
3 not in L1

True

In [38]:
T1 = ("A", 3, 5.2, (3, 6), [1,2,3], 9)
L1 = ["Moussa", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]
(0, 2.2, 8) in L1

True

In [39]:
T1 = ("A", 3, 5.2, (3, 6), [1,2,3], 9)
L1 = ["Moussa", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]
"M" in L1[0]

True

In [40]:
T1 = ("A", 3, 5.2, (3, 6), [1,2,3], 9)
L1 = ["Moussa", "@", "crypto", (0, 2.2, 8), [3, "UCAD"], "last"]
"M" in T1[1]

TypeError: argument of type 'int' is not iterable

In [1]:
list = []
chaine = input("Entrer une chaine de caractere : ")
for i in chaine: 
    list.append(i)
"-".join(list)

Entrer une chaine de caractere : jibba

'j-i-b-b-a'

In [3]:
"".join(str([1,2]))

'[1, 2]'

# Exercice

# 4. Opérations sur les chaines de caractères (str) et fstring

On suppose **chaine** est de type **str** 

* `chaine.lower()` : mettre les tous les caractères en minuscule
* `chaine.upper()` : mettre les tous les caractères en majuscule
* `chaine.replace(ch1, ch2)` : remplace ch1 par ch2
* `chaine.endswith(x)` : renvoie **True** si **chaine** se termine par **x** et **False** dans le cas contraire
* `chaine.startswith(x)` : renvoie **True** si **chaine** se commence par **x** et **False** dans le cas contraire
* `chaine1 + chaine2` : la concaténation de chaine1 et de chaine

### Exemple

In [ ]:
chaine = "Bonjour Monsieur Sow"

In [41]:
chaine = "Bonjour Monsieur Sow"
chaine.lower()

'bonjour monsieur sow'

In [42]:
chaine = "Bonjour Monsieur Sow"
chaine.upper()

'BONJOUR MONSIEUR SOW'

In [43]:
chaine = "Bonjour Monsieur Sow"
chaine.replace("Sow", "SECK")

'Bonjour Monsieur SECK'

In [45]:
chaine = "Bonjour Monsieur Sow"
ch1 = chaine.upper()
ch2 = ch1.replace(" ", "") # enlever les espaces

### Fstring

In [50]:
x = 2
y = x**2

diff = abs(x - y)

# ch3 = "Pour x=2, y=4, et la différence de x et de y = 2"
ch3 = f"Pour x={x}, y={y}, et la différence de x et de y diff= {diff}"
print(ch3)

Pour x=2, y=4, et la différence de x et de y diff= 2

# la méthode .format()

In [49]:
ch4 = "Pour x={}, y={}, et la différence de x et de y diff= {}".format(2, 4, 2-4)
print(ch4)

Pour x=2, y=4, et la différence de x et de y diff= -2

In [52]:
ch5 = "La valeur de x={0}, sa valeur absolue est {0} et son carré est {1}".format(x, y)
print(ch5)

La valeur de x=2, sa valeur absolue est 2 et son carré est 4

In [59]:
chaine1 = "Bonjour"
chaine2 = "tout le monde !"

In [60]:
chaine1 + chaine2

'Bonjourtout le monde !'

In [61]:
chaine1 + " " + chaine2

'Bonjour tout le monde !'

### Si L est une liste de chaine de caractères alors

* `chaine.join(L)` : renvoie chaine de caractères qui est la concaténation des éléments de L separés deux à deux par **chaine**  
    i.e `L[0] + chaine + L[1] + chaine + L[2] + chaine + ... `

In [54]:
L = ["A", "B", "C", "D", "F"]

In [55]:
";".join(L)

'A;B;C;D;F'

In [56]:
" --> ".join(L)

'A --> B --> C --> D --> F'

In [57]:
"".join(L)

'ABCDF'

### Tests si une commence ou se termine par une sous chaine

In [62]:
chaine1.startswith("Bon")

True

In [63]:
chaine2.endswith('!')

True

ch4

# 5. Opérations sur les listes

### Supposons que **L, L1** et **L2**  sont de type ``list``

* `del L[i]` : supprime l'élément `L[i]` de la liste `L`
* `L.append(val)`: ajoute `val` à la liste
* `L1.extend(L2)` : rajoute `L2` à `L1`
* `L1 + L2` : renvoie la concaténation des deux listes `L1` et `L2`
* `L.insert(val, i)` : insert `val` à la position `i`
* `L[i] = val` : remplace l'élément à la position `i` par `val`

In [64]:
fruit = ["Pomme", "Orange", "Mangue", "Bannane", "Pastec", "Citron"]

In [65]:
fruit + fruit

['Pomme',
 'Orange',
 'Mangue',
 'Bannane',
 'Pastec',
 'Citron',
 'Pomme',
 'Orange',
 'Mangue',
 'Bannane',
 'Pastec',
 'Citron']

In [66]:
fruit.append("Clémentine")

In [67]:
fruit

['Pomme', 'Orange', 'Mangue', 'Bannane', 'Pastec', 'Citron', 'Clémentine']

In [68]:
fruit[1] = "Mandarine"

In [69]:
fruit

['Pomme', 'Mandarine', 'Mangue', 'Bannane', 'Pastec', 'Citron', 'Clémentine']

In [70]:
L = fruit[:]
print(L)

['Pomme', 'Mandarine', 'Mangue', 'Bannane', 'Pastec', 'Citron', 'Clémentine']

In [71]:
del L[0]
L

['Mandarine', 'Mangue', 'Bannane', 'Pastec', 'Citron', 'Clémentine']

# 6. Opérations sur les dictionnaires

# 7. La condition `if ...., elif ...., else .....`

## Opérateurs de comparaison

    < ; <= ; > ; >= ; == ; != (différent)

In [ ]:
2 < 5

In [ ]:
4 == 8-4

In [ ]:
 6 != 6.0001

In [20]:
a = int(input("Entrer un entier : "))
if a %2 == 0:
    print(a," est pair")
else:
    print(a," est impair")

Entrer un entier : 3
3  est impair

In [23]:
age = int(input("Entrer votre age : "))
if age > 0 age <= 18 : 
    print("mineur")
elif age >= 18 and age < 60 :
    print("homme")
else:
    print('vieux')

Entrer votre age : -1

In [35]:
liste = eval(input("Entrer une suite de nombre \n"))
sorted(liste)
if len(liste) % 2 == 0:
    median = ((len(liste)/ 2)+((len(liste)/2) +1))/2
    print("la mediane est ",median)
else:
    median = len(liste)//2 +1
    print("La mediane est ",median)

Entrer une suite de nombre
[1,2,3,4,5,6,7]
La mediane est  4

In [ ]:
liste  = eval(input("Entrer une liste de nombre \n"))
listcar=[]
for i in liste:
    listcar.append(i ** 2) 
print(listcar)

# 8. Les boucles `for` et `while`

In [1]:
liste  = eval(input("Entrer une liste de nombre \n"))
listcar=[]
for i in liste:
    listcar.append(i ** 2) 
print(listcar)

Entrer une liste de nombre
3

TypeError: 'int' object is not iterable

In [ ]:
%reset

In [ ]:
liste  = eval(input("Entrer une liste de nombre \n"))
listcar=[]
for i in liste:
    listcar.append(i ** 2) 
print(listcar)